@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #0011ff, #4e98ff);
}

/* Başlık */
h1 {
    font-size: 42px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* GLASS FORM */
#noteForm {
    width: 100%;
    max-width: 500px;
    padding: 25px;
    border-radius: 28px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.2),
        inset 0 1px 1px rgba(255, 255, 255, 0.6);

    display: flex;
    gap: 12px;
}

/* Input */
#noteInput {
    flex: 1;
    padding: 14px 18px;
    border-radius: 18px;
    border: none;
    outline: none;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);

    color: white;
    font-size: 15px;

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.4),
        0 4px 15px rgba(0,0,0,0.1);
}

#noteInput::placeholder {
    color: rgba(255,255,255,0.7);
}

/* Buton */
#addNoteBtn {
    padding: 14px 22px;
    border-radius: 18px;
    border: none;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);

    color: white;
    font-weight: 500;

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.5),
        0 6px 20px rgba(0,0,0,0.15);

    transition: 0.3s ease;
}

#addNoteBtn:hover {
    transform: scale(1.05);
    background: rgba(26, 62, 223, 0.3);
    
}

#addNoteBtn:active {
    transform: scale(0.95);
}

/* Liste */
#noteList {
    margin-top: 40px;
    width: 100%;
    max-width: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Glass Card */
#noteList li {
    padding: 18px 22px;
    border-radius: 22px;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    color: white;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.2),
        inset 0 1px 2px rgba(255,255,255,0.6);

    transition: 0.3s ease;
}

#noteList li:hover {
    transform: translateY(-5px);
}

.delete-btn {
    float: right;
    padding: 6px 20px;
    border-radius: 12px;
    border: 1px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);

    color: white;
    font-weight: 600;

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.6),
        0 4px 12px rgba(0,0,0,0.2);

    transition: 0.3s ease;
}

.delete-btn:hover {
    transform: scale(1.1);
    background: rgba(26, 62, 223, 0.3);
}


@keyframes smokeOut {
    0% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        transform: scale(1.4) rotate(8deg);
        filter: blur(8px);
    }
}

.smoke-animation {
    animation: smokeOut 0.7s ease forwards;
}
